<div class="w-full max-w-6xl  items-center ">
  <div class="min-h-90vh">
    <section id="mainProduct"></section>

    <section id="addionalInformation"></section>

    <section id="brandInfromation"></section>

    <section id="similarProducts"></section>
  </div>
</div>