<div class="flex justify-center ">

  <div class="bg-blue-600 w-full min-h-[90vh] flex justify-center items-center ">
      <p class="text-gray-700 text-5xl font-sans mx-4">Products that you are looking for is not in our inventory</p>
  </div>

</div>