<style>
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
      }
      
      .no-scrollbar {
        -ms-overflow-style: none;  /* IE + Edge */
        scrollbar-width: none;     /* Firefox */
      }
</style>

<div id="ordersSection" class="h-full hidden overflow-y-auto no-scrollbar p-12">
    <div class="max-w-6xl mx-auto">
  
      <h1 class="text-4xl font-bold text-gray-900 mb-10">My Orders</h1>
  
      <!-- Grid: 1 column on mobile, 2 columns on md+ -->
      <div id="ordersContainer" class="grid grid-cols-1 md:grid-cols-2 gap-8">
  
       
  
  
  
      </div>
  
    </div>
  </div>
  